* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #ed7171 0%, #7d84c9 17%, #9832e0 33%, #2767ed 67%, #00574d 83%, #005755 100%);
  .kittyForm {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    h1 {
      margin: 15px;
      font-size: 70px;
    }
    input[type=text] {
      margin: 15px;
      padding: 35px;
      border: 4px solid white;
      border-radius: 50px;
      width: 92vw;
      background-color: rgba(0, 0, 0, 0);
      &::-webkit-input-placeholder {
        color: white;
        font-size: 45px;
      }
    }
  }
  .checkbox {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 45px;
  }
  input[type=checkbox] {
    width: 45px;
    height: 45px;
    margin-right: 50px;
  }
  table {
    border: 1px solid white;
    width: 85%;
    height: 75vh;
    margin: 15px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 50px;
    thead {
      background-color: rgba(255, 255, 255, 0.31);
    }
    tr, td {
      border: 1px solid white;
      background-color: rgba(255, 255, 255, 0.17);
      padding: 5px 12px;
    }
  }

  img {
    height: 50%;
    width: auto;
    position: absolute;
    top: 15%;
    opacity: .12;
  }
}
@media (min-width: 1024px){
  .kittyForm {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    width: 50%;
    height: 80vh;
    h1 {
      margin: 15px;
      font-size: 40px;
    }
    input[type=text] {
      margin: 15px;
      padding: 35px;
      border: 4px solid white;
      border-radius: 50px;
      width: 92vw;
      background-color: rgba(0, 0, 0, 0);
      &::-webkit-input-placeholder {
        color: white;
        font-size: 45px;
      }
    }
  }
  .checkbox {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 45px;
  }
  input[type=checkbox] {
    width: 45px;
    height: 45px;
    margin-right: 50px;
  }
  table {
    border: 1px solid white;
    width: 85%;
    height: 75vh;
    margin: 15px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 50px;
    thead {
      background-color: rgba(255, 255, 255, 0.31);
    }
    tr, td {
      border: 1px solid white;
      background-color: rgba(255, 255, 255, 0.17);
      padding: 5px 12px;
    }
  }
}

